@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
.copyright {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #03A9F4;
}

code {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: 600;
}

.header .button .icon {
  background-color: #fff;
}


.article p code {
    color: #000 !important;
  font-weight: bold;
  font-style: italic;
}

.backdrop-paper {
    height: calc(100% - 120px);
}

.wrapper .meta {
    background-color: #03A9F4;
}

/*color of hoovered link*/
.article a:hover, .article a:focus {
    color: black;
    outline: none !important;
}

/*overflow in code block*/
.article .wrapper pre code {
    overflow: auto;
}

.drawer .toc li.anchor a:hover {
    color: #03A9F4;
}

.drawer .toc a:hover {
    color: #03A9F4;
}

/*background of code block*/
.article .wrapper pre {
    /*background-color: white;*/
}

h2 {
    color: #03A9F4 !important;
}

h1, h3 {
    color: black !important;
}

.current {
    color: #03A9F4 !important;
}

.toc > ul li > a {
    border-left-color: #03A9F4 !important;
}

.header {
    background-color: transparent;
    box-shadow: none;
    color: black;
}

.main > .drawer > nav > .project > .banner > .name {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.870588);
    padding-top: 50px;
    letter-spacing: 0.08px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

.name:before {
    display: inline-block;
    content: "";
    width: 2px;
    height: 27px;
    margin-right: 25px;
    vertical-align: bottom;
    background: #03a9f5;
}

@media (max-width: 960px) {
    .project {
        background-color: white;
    }
}

.note {
    background: #03a9f5;
    color: white;
}

.multiLanguageBlock {
    position: relative;
}

.article .note p code {
    color: white !important;
    font-style: italic;
}

.note a {
    color: white;
    text-decoration: underline;
}

.footer {
    padding-bottom: 20px;
    background-color: #ebeef3;
}

/*footer title */
.footer nav div .title {
    color: black;
}

/*right footer title */
.footer nav .previous .title {
    padding-top: 10px !important;
}

/*right footer title */
.footer nav .next .title {
    padding-top: 10px !important;
}

/*next sign over title in footer*/
.pagination .direction {
    color: #737373 !important;
}

/*next arrow in footer*/
.button-next i {
    padding-bottom: 20px;
    color: black !important;
}

/*previous arrow in footer*/
.button-previous i {
    padding-bottom: 20px;
    color: black !important;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.bottomPadding {
    height: 40px;
}

@media (max-width: 1400px) {
    nav .next {
        right: 100px;
    }
}

.code {
    background-color: #282c34;
}

.codeBlock {
    position: relative;
    margin-bottom: 50px;
}

.codeButton {
    position: absolute;
    right: 0px;
}

.multiLanguageBlock .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.multiLanguageBlock .buttonContainer div {
    margin-left: 6px;
}

.multiLanguageBlock .multiLangButton {
    display: inline-block;
}

.multiLanguageBlock .buttonContainer .activeUser {
    border-color: white;
    background-color: #169CEE;
    color: white;
}

.helpful {
    padding-top: 15px;
    position: relative;
}

.helpful hr {
    padding-bottom: 10px;
}

.helpful .initialPart {
    height: 40px;
}

.helpful .helpfulSectionLabel {
    position: absolute;
    padding-top: 12px;
    font-style: italic;
}

.helpful .helpfulSectionButtonBlock {
    position: absolute;
    right: 0px;
    margin-bottom: 4px;
}

.helpful .helpfulSectionThanks, .helpful .helpfulSectionError {
    margin-top: 10px;
    opacity: 0;
    display: none;
}

.helpful .helpfulSectionWhyNot {
    display: none;
    opacity: 0;
}

.helpful .helpfulSectionButtonBlock button {
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 30px;
    padding-right: 30px;
}

.helpful .helpfulSectionWhyNot textarea {
    max-width: 890px;
    min-width: 500px;
    min-height: 60px;
    outline: none !important;
    border-radius: 3px;
    border: 1px solid #169CEE;
    border-radius: 1px;
}

.helpful .helpfulSectionWhyNotTextAreaError, .helpful .helpfulSectionError {
    color: red;
    display: none;
}

#yesHelpSectionButton {
    margin-right: 3px;
}

.buttonStyle {
    border: 1px solid white;
    margin-top: 10px;
    padding: 4px 12px 5px 12px;
    background-color: #169CEE;
    border-radius: 4px;
    color: white;
}

.animateShow {
    transition: all 1s linear;
}

.buttonWhiteWithHover {
    cursor: pointer;
    border: 1px solid #169CEE;
    margin-top: 10px;
    padding: 4px 12px 5px 12px;
    background-color: white;
    border-radius: 4px;
    color: #169CEE;
}

.buttonWhiteWithHover:hover {
    color: white;
    background-color: #169CEE;
    border: 1px white solid;
}

.buttonBlueWithHover {
    cursor: pointer;
    border: 1px solid white;
    margin-top: 10px;
    padding: 4px 12px 5px 12px;
    background-color: #169CEE;
    border-radius: 4px;
    color: white;
}

.buttonBlueWithHover:hover {
    color: #169CEE;
    background-color: white;
    border: 1px #169CEE solid;
}












body {
  background: #ebeef3;
}

.header .bar.default .title:before {
    content: ' ';
    display: block;
    width: 77px;
    height: 30px;
    background: url("images/icons/logo.svg") no-repeat center;
  position: relative;
  top: -5px;
}

.header.in-frame .bar.default .title:before {
  display: none;
}

.header {
  padding-top: 0;
}

.header .button.button-search,
.header .button.button-github {
  padding-top: 10px;
}

@media only screen and (max-width: 959px) {
  .header {
    background: #fff;
  }
  .button-search, .button-github {
    padding-top: 3px !important;
  }
}
@media only screen and (min-width: 960px) {
    .backdrop {
        background: #ebeef3;
    }

    .header .bar.default .title:before {
        width: 120px;
        height: 43px;
        top: -1px;
    }

}

.header .bar.default .title {
    text-indent: -9999px !important;
    font-size: 0;
}

.header .bar.default {
    height: 56px;
}

.article .wrapper {
    padding-top: 70px !important;
    color: #5f636b;
    font-size: 12px;
    padding-left: 60px;
    padding-right: 60px;
}

.article .wrapper .code {
  margin-left: -60px;
  margin-right: -60px;
}

@media only screen and (max-width: 480px) {
  .article .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .article .wrapper .code {
    margin-left: -15px;
    margin-right: -15px;
  }

}

.article .wrapper h1 {
    border-bottom: none;
    padding-bottom: 10px;
    color: #5f636b !important;
    font-size: 16px;
}

.article .wrapper h3 {
    color: #5f636b !important;
    font-size: 16px;
}

.article .wrapper img {
    margin: 30px auto;
}

.article .wrapper .admonition {
    background: transparent;
    color: #5f636b;
    border-left: 2px solid transparent;
    margin: 30px 0;
    padding: 0 10px 0 40px;
    font-style: italic;
    line-height: 1.5;
}

.article .wrapper .admonition a {
    color: #5f636b;
}

.article .wrapper .admonition code {
  color: #C492DB !important;
}

.article .wrapper .admonition .admonition-title {
    text-transform: uppercase;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
}

.article .wrapper .admonition .admonition-title + p {
    margin-top: 10px;
}

.article .wrapper .admonition .admonition-title:before {
    display: none;
}

.article .wrapper .admonition .admonition-title:after {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: 12px;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.article .wrapper .admonition.note {
    border-left: 2px solid #3fa9f5;
}

.article .wrapper .admonition.note .admonition-title {
    color: #3fa9f5;
}

.article .wrapper .admonition.note .admonition-title:after {
    background: url("images/icons/Tips_Icon.svg") center no-repeat;
}

.article .wrapper h2 {
    color: #5f636b !important;
    font-size: 16px;
}

.drawer .project {
    display: none;
}

.drawer .scrollable .toc > ul > li > a {
    font-size: 10px;
    text-transform: uppercase;
    color: #4c4e52 !important;
    /*padding-left: 25px !important;*/
}

.drawer .scrollable .toc > ul > li > ul {
    margin-top: 10px;
}

.drawer .scrollable .toc > ul > li li > a {
    border-left-color: transparent !important;
    color: #4c4e52 !important;
    position: relative;
    padding: 12px 24px 12px 45px;
    margin-left: -5px;
    font-weight: 500;
    font-size: 12px;
}

.drawer .scrollable .toc > ul > li li > a:before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.drawer .scrollable .toc > ul > li li:hover > a,
.drawer .scrollable .toc > ul > li li > a.current {
    border-left-color: #03A9F4 !important;
    background: #f5f7f9;
}

.drawer .scrollable .toc > ul > li:nth-child(1) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Adding.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(1) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Ad_Units.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(1) > ul > li:nth-child(3) a:before {
    background: url("images/icons/Placements.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(1) > ul > li:nth-child(4) a:before {
    background: url("images/icons/Payments.svg") center no-repeat;
}



.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Getting_Started.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Adding.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(3) a:before {
    background: url("images/icons/js.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(4) a:before {
    background: url("images/icons/AppStore.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(5) a:before {
    background: url("images/icons/Initializing_SDK.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(6) a:before {
    background: url("images/icons/Displaying_Ads.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(7) a:before {
    background: url("images/icons/Placements_1.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(8) a:before {
    background: url("images/icons/ContentRecommendation.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(9) a:before {
    background: url("images/icons/User_Profile.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(2) > ul > li:nth-child(10) a:before {
    background: url("images/icons/Payments.svg") center no-repeat;
}


.drawer .scrollable .toc > ul > li:nth-child(3) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Getting_Started.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(3) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Adding.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(3) > ul > li:nth-child(3) a:before {
    background: url("images/icons/User_Profile.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(3) > ul > li:nth-child(4) a:before {
    background: url("images/icons/Know_Issues.svg") center no-repeat;
}




.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Getting_Started.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Adding.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(3) a:before {
    background: url("images/icons/Initializing_SDK.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(4) a:before {
    background: url("images/icons/Displaying_Ads.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(5) a:before {
    background: url("images/icons/ContentRecommendation.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(6) a:before {
    background: url("images/icons/Declaring_Session.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(7) a:before {
    background: url("images/icons/Payments.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(8) a:before {
    background: url("images/icons/VideoTracking.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(9) a:before {
    background: url("images/icons/INSTALL_REFERRER.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(10) a:before {
    background: url("images/icons/User_Profile.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(11) a:before {
    background: url("images/icons/Disabling_voice.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(4) > ul > li:nth-child(12) a:before {
    background: url("images/icons/Summary.svg") center no-repeat;
}





.drawer .scrollable .toc > ul > li:nth-child(5) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Getting_Started.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(5) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Adding.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(5) > ul > li:nth-child(3) a:before {
    background: url("images/icons/User_Profile.svg") center no-repeat;
}
.drawer .scrollable .toc > ul > li:nth-child(5) > ul > li:nth-child(4) a:before {
    background: url("images/icons/Disabling_voice.svg") center no-repeat;
}



.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(1) a:before {
    background: url("images/icons/Getting_Started.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(2) a:before {
    background: url("images/icons/Initializing_SDK.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(3) a:before {
    background: url("images/icons/Ads.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(4) a:before {
    background: url("images/icons/ContentRecommendation.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(5) a:before {
    background: url("images/icons/VideoTracking.svg") center no-repeat;
}

.drawer .scrollable .toc > ul > li:nth-child(6) > ul > li:nth-child(6) a:before {
    background: url("images/icons/User_Profile.svg") center no-repeat;
}

.article a {
    color: #169cee !important;
}

.article a:hover {
    color: #0A82EE !important;
}


